

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: #dbe2f0;
    color: #123b7a;
    display: flex;
}


.menu {
    width: 220px;
    height: 120vh;
    background: #123b7a;
    color: white;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.menu h2 {
    font-size: 28px;
    text-align: center;
}

.logo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo img {
    width: 170px;
    height: 60px;
    object-fit: contain;
}

.menu h3 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
}


.menu-item {
    padding: 12px 8px;
    font-size: 15px;
    color: white;
}

.menu-item a {
    color: white;
}


.menu-item:hover {
    background: #3155a0;
    transform: translateX(5px);
    transition: 0.3s;
}


.main {
    width: calc(100% - 220px);
}


.top {
    height: 55px;
    background: #203b78;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 10px 30px;
    color: white;
}


.top input {
    width: 450px;
    height: 35px;
    padding: 10px;
    border: 1px solid white;
    font-size: 14px;
    border-radius: 10px;
}


.welcome {
    background: #3275e8;
    color: white;
    margin: 12px 20px;
    padding: 25px;
    height: 130px;
    border: 1px solid #3275e8;
    border-radius: 20px;
}

.welcome h1 {
    font-size: 28px;
    margin: 8px 0;
}


.functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 20px;
}


.function-box {
    background: white;
    width: 25%;
    height: 80px;
    padding: 15px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
}


.icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 10px;
}


.blue {background: #2166dc;}

.orange {background: orange;}

.green {background: #13a875;}

.red {background: #ef3c3c;}


.function-box p {font-size: 12px;}


.function-box h3 { font-size: 15px;}


.content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}


.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.box {
    background: white;
    width: 100%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
}


.box h2 {
    font-size: 16px;
    color: #1454b8;
    padding-bottom: 12px;
    border-bottom: 2px solid #286be0;
    margin-bottom: 5px;
}


.news {
    padding: 15px 5px;
    border-bottom: 1px solid #ddd;
    color: #111;
    font-size: 14px;
    line-height: 25px;
}


.news small {
    color: #999;
    font-size: 12px;
}


.news:hover {
    background: #eef4ff;
    transform: translateX(5px);
    transition: 0.3s;
}


.event {   height: 200px;}

.event h2 {
    color: orange;
    border-bottom: 2px solid orange;
}

.event p {
    text-align: center;
    padding: 60px 0;
    color: #999;
}
